[project]
	description = A typo correction and word prediction borrowed from Android, made for Linux
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Wolf Vollprecht (wolfv)
[access "refs/for/refs/*"]
	read = group user/Wolf Vollprecht (wolfv)
	push = group user/Wolf Vollprecht (wolfv)
	label-Code-Review = -2..+2 group user/Wolf Vollprecht (wolfv)
	label-Verified = -1..+1 group user/Wolf Vollprecht (wolfv)
	rebase = group user/Wolf Vollprecht (wolfv)
	removeReviewer = group user/Wolf Vollprecht (wolfv)
	submit = group user/Wolf Vollprecht (wolfv)
[access "refs/heads/*"]
	read = group user/Wolf Vollprecht (wolfv)
	create = group user/Wolf Vollprecht (wolfv)
	push = +force group user/Wolf Vollprecht (wolfv)
	pushMerge = group user/Wolf Vollprecht (wolfv)
[access "refs/tags/*"]
	push = +force group user/Wolf Vollprecht (wolfv)
	pushTag = group user/Wolf Vollprecht (wolfv)
	pushSignedTag = group user/Wolf Vollprecht (wolfv)
